.dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashboard-games-container{
        margin-top: 2rem;
    }
    .row-container{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        .button-div{
            margin: 0.5rem;
        }
    }
}